<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Welcome</title>{% endblock %}
</head>
<body>
  {% block sidebar %}
      <li><a href="{% url 'app:new_list'%}">Add a new list</a> </li>
  {% endblock %}
  {% block content %}
      <h1>Welcome!</h1>
       <h3>See your lists below</h3>
    {% for list in my_lists %}
    <h3>{{ list.name}}</h3>
    {% for li in list.item.all %}
        {{ li.name }} &nbsp; {{ li.urgency_level }} &nbsp; {{ li.completed }}<br>
        {% endfor %}
{% endfor %}
  {% endblock %}
</body>
</html>