{% load static %}
{% block head %}
<head>
    {% block title %}<title>Welcome, {{ user.username }}</title>{% endblock %}
    <link rel="stylesheet" href="../../static/css/styles.css">
    <meta charset="utf-8">
</head>

{% endblock %}


{% block header %}
    <div id="header">
        <h1>ToDo √</h1>
    </div>
{% endblock %}

{% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}


      <li class="nav-item">
        <a class="nav-link" href="{% url 'app:new_list'%}">Create New List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'app:addNewTask' %}">Add New Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'app:editProfile' %}">Edit Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'app:home'%}">My Lists</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'app:logout' %}">Logout</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'app:login' %}">Login</a>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>

{% endblock %}

{% block content %}

    <div class="intro">
    <h1>Welcome,&nbsp;{{ user.username }}!</h1>
    </div>
    <div id="displayLists">
        <h1>Below are your lists</h1>
        <table id="myList">
            <thead>
            <tr>
                <th>Name</th>
                <th>Items</th>
                <th colspan="2">Actions</th>
            </tr>

            </thead>

            <tbody>
            {% for list in my_lists %}
                <tr>
                    <td>{{ list.name }}</td>
                    <td>
                        {% for item in list.item.all %}
                            <ol>
                                {% ifnotequal item.completed False %}
                                    <li><span style="text-decoration: line-through;">{{ item.name }}</span></li>
                                {% else %}
                                    <li>{{ item.name }}</li>
                                {% endifnotequal %}

                            </ol>
                        {% endfor %}
                    </td>
                    <td><a href="{% url 'app:editList' pk=list.pk %}"
                           class="btn btn-primary">Edit</a>
                    <td><a href="{% url 'app:deleteList' pk=list.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>

    <div id="topPriorities">

    </div>

{% endblock %}
