{% load static %}
<head>
    {% block title %}<title>Welcome, {{ user.username }}</title>{% endblock %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <meta charset="utf-8">
</head>


{% block header %}
    <div id="header">
        <h1>ToDo √</h1>
    </div>
{% endblock %}

{% block navigation %}
    <div class="top">
        <div style="text-align: center;">
        <ul>
            <li><a href="{% url 'app:home' %}">My Lists</a>
            <ul>
                <li><a href="{% url 'app:new_list' %}">Create A New List</a></li>

            </ul>
            </li>
            <li><a href="#">ACCOUNT</a>
                <ul>

                    <li><a href="{% url 'app:editProfile' %}">Edit Profile</a></li>

                </ul>
            </li>

            <li><a href="#">My Tasks</a>
                <ul>

                    <li><a href="{% url 'app:addNewTask' %}">Add a new task</a></li>

                </ul>
            </li>
        </ul>
    </div>
    </div>

{% endblock %}

{% block content %}
    <div id="displayLists">
        <h1>Below are your lists</h1>
        {% for list in my_lists %}
            <h2>{{ list.name }}</h2>
        {% endfor %}
    </div>

    <div id="topPriorities">

    </div>

{% endblock %}
