@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid white;
}

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
}

th {
    letter-spacing: 2px;
    border: 1px solid white;
}

td {
    border: 1px solid white;
}

tbody td {
    text-align: left;
    display: flex;
}

tfoot th {
    text-align: right;
}

thead th:nth-child(1) {
    width: 15%;
}

thead th:nth-child(2) {
    width: 45%;
}

thead th:nth-child(3) {
    width: 40%;
}


th, td {
    padding: 20px;
}

.intro {
    text-align: center;
    color: white;
    width: 50%;
    margin: 5% auto;


}

body {
    color: white;
}

.listings {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

.listings td, #bookListing th {
    border: 1px solid white;
    padding: 8px;
}

.listings tr:nth-child(even) {
    background-color: #f2f2f2;
}

.listings tr:hover {
    background-color: white;
}

.listings th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightskyblue;
    color: white;
}

.Banner {
    color: white;
    margin: 7% auto auto;
    width: 25%;
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    font-family: AppleSystemUIFont, serif;
    cursor: pointer;
    margin-right: 25px;
    color: rgba(0, 136, 169, 1);
}

.nav__links {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

#signupBackdrop {
    position: absolute;
    top: 15%;
    left: 25%;
    right: 20%;
    height: 800px;

    background: black;
    background: rgba(0, 0, 0, 0.3);

    margin-top: 100px;

    filter: blur(8px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
}

label {
    margin-right: 10px;
    width: 200px;
    display: inline-block;
    text-align: right;
    align-content: center;
}

form.inline_label {
    margin-right: 10px;
    width: 200px;
    display: inline-block;
    text-align: right;
    align-content: center;


}

input[type=text] {
    width: 350px;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: 2px solid black;
    color: white;
    font-size: 15px;
}

input[type=email] {
    color: white;
    width: 350px;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: 2px solid black;
    font-size: 15px;

}

input[type=password] {
    color: white;
    width: 350px;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: 0 solid black;
    font-size: 15px;
    place-content: center;
}

input[type=submit] {
    background-color: lightskyblue;
    color: white;
    width: 200px;
    border-radius: 15px;
    height: 30px;
    font-size: larger;
    border-style: none;
    margin-left: 100px;
}

input[type=button] {

    background-color: lightskyblue;
    color: white;
    width: 200px;
    border-radius: 15px;
    height: 30px;
    font-size: larger;
    border-style: none;
    margin-left: 100px;

}

.form {
    text-align: center;
    color: white;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-top: 150px;

}


.footer {
    position: absolute;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #000;
}

.loginForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 25px;
    border: 5px solid darkgray;
    text-align: center;
    width: auto;
    margin: auto;
    color: white;
}

#options {
    color: white;
    margin: 7% auto auto;
    width: 25%;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid white;
    margin-top: 10px;

}

.button {
    background-color: lightskyblue;
    width: 150px;
    height: 60px;
    color: white;
    outline: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 7% auto auto;

}

.block-display button {
    display: block;
}

.button:hover {
    background-color: cyan;
    transition: 0.5s;
}

/* PROFILE VIEW PAGE */

.prof {
    background-color: rgb(0, 0, 0, 0);
    margin: 2rem auto 0 auto;
    background-color: rgba(255, 255, 255, 0.904);
    color: #24252a;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    border-radius: 25px;
    padding: 1rem;
}

.prof * {
    background-color: rgb(0, 0, 0, 0);
    color: white;
}

.prof h1, .prof h4 {
    color: #24252a;
}

.prof h3 {
    color: gray;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.prof h4 {
    padding: 0;
    margin: 0 0 0.2rem 1rem;
    width: fit-content;
    text-align: left;
    align-self: flex-start;
}


.prof-container {
    margin: 0 0 1rem 0;
    padding: 1rem;
    text-align: left;
    background-color: #24252a;
    border-radius: 15px;
    min-height: 100px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.prof-container li {
    padding: 0;
}

.prof-container li::after {
    content: ", ";
}

.prof-container li:last-child::after {
    content: "";
}

.prof-btn-grp {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    margin: 0;
}

.prof button {
    color: #24252a;
    border: solid 1px #24252a;
    margin: 1rem;
}

#displayLists {
    color: lightskyblue;
    margin: 10% auto auto;
    width: 100%;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#header {
    text-align: center;
    border: 10px solid white;
}

.top {
    height: 30px;
    width: 100%;
    margin-left: 0;
    position: absolute;
    top: 50px;
    margin-bottom: 5px;
}

.top ul {
    width: auto;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5%;
    padding: 0;
}

.top li {
    float: left;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
}

.top li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none;
}

.top li a:hover {
    background: #111;
}

.top ul li ul {
    margin-left: -0.2px;
    background: rgb(189, 181, 181);
    position: relative;
    display: none;
}

.top ul li ul li {
    float: none;
    text-align: center;
}

.top ul li:hover ul {
    display: block;
}

.btn-danger {
    padding: 10px;
    border-radius: 8px;
    background-color: red;
}

.btn-primary {
    padding: 10px;
    border-radius: 8px;
    background-color: blue;
}

 .strikethrough:checked + .strikeThis {
    text-decoration: line-through
}
 .strikeThis
 {
     text-align: left;
 }


