{% extends 'home/home.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/styles.css">
    <script type="text/javascript">

        function preventBack() {
            window.history.forward();
        }

        setTimeout("preventBack()", 0);

        window.onunload = function () {
            null
        };

    </script>
{% endblock %}
{% block title %}
    <title>Login</title>
{% endblock %}

{% block navigation %}


{% endblock %}

{% block content %}

    <div class="intro">
        <h1>Welcome to the fabulous To-Do Application</h1>
        <h3>Login below or use the sign-up option to utilize our services.</h3>
    </div>

    {% load crispy_forms_tags %}

<!--Login-->
<div class="form">
  <h1>Login</h1>
  <form method="POST" autocomplete="off">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register" style="text-underline: white;">Create an account</a>.</p>
</div>

{% endblock %}